
  <div class="about-content">
    <h2>絶品グルメの<span class="pen">特徴と便利</span>な使い方！</h2>
    <h3>メニュー選びで失敗したくない人のためのグルメサイト</h3>
    <p>絶品グルメは「お店の美味しいメニューが食べたい！」をコンセプトにした、グルメコミュニティサービスです！</p>
    <p>一度しかいかない場所でも、美味しいメニューを食べたいという食の体験を得るため</p>
    <p>ユーザの口コミを元に、レストラン情報を掲載しています。</p>

  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>特徴</h2>
      <div class="row">
        <div class="col-md-offset-2 col-md-5 feature-image"></div>
        <div class="col-md-offset-2 col-md-10 about-messages">
        <p>1. レストランをメニュー単位で検索できる。</p>
        <p>2. レストランの人気のメニューが点数で分かる。</p>
        <p>3. マップで検索し、レストランに行ける。</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>使い方</h2>
      <div class="row">
        <div class="col-md-offset-2 col-md-5 how-to-image"></div>
        <div class="col-md-offset-2 col-md-10 about-messages">
        <p>１. ユーザの投稿や検索でメニューを知る！</p>
        <p>２. レストランで食べたメニューの写真を撮る。</p>
        <p>３. レストランメニューページから投稿。</p>
        </div>
      </div>
    </div>
  </div>
