
  <div class="about-content">
    <h2>絶品グルメの<span class="pen">特徴と便利</span>な使い方！</h2>
    <h3>メニュー選びで失敗したくない人のためのグルメサイト</h3>
    <p>絶品グルメは「お店の美味しいメニューが食べたい！」をコンセプトにした、グルメコミュニティサービスです！</p>
    <p>一度しかいかない場所でも、美味しいメニューを食べたいという食の体験を得るため</p>
    <p>ユーザの口コミを元に、レストラン情報を掲載しています。</p>

  </div>
<div class="col-md-8 col-md-offset-2">
  <h2>特徴</h2>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8"></div>
  </div>
  <h2>使い方</h2>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4"></div>
  </div>

</div>