<% restaurants.each do |restaurant| %>
  <h4 class=""><%= link_to restaurant.name, public_restaurant_path(restaurant.id) %></h4>
    <div class="restaurant-infomation">
			<li><i class="fas fa-map-marked-alt" style="color: gray;"></i><%= restaurant.address %></li>
			<li><i class="fas fa-phone-alt" style="color: gray;"></i><%= restaurant.phone %></li><br/>
		</div>
<% end %>