<% restaurants.each do |restaurant| %>

  <h4 class=""><%= link_to restaurant.name, public_restaurant_path(restaurant.id) %></h4>
	<li><%= restaurant.address %></li>
	<li><%= restaurant.phone %></li><br/>
<% end %>