<div class="col-md-8 col-md-offset-2">

  <% if @restaurant_or_menu == "1"%>

    <h4>レストラン</h4>
    <%# todo: if文の簡略化 %>
    <% if @restaurants.present? %>
      <%= render 'public/restaurants/index', restaurants: @restaurants %>
      <%= paginate @restaurants %>
    <% else %>
      <h4>検索結果が一致しませんでした。</h4>
    <% end %>
  <% elsif @restaurant_or_menu == "2" %>

    <h4>メニュー</h4>
    <% if @menus.present? %>
      <%= render 'public/menus/index', menus: @menus %>
      <%= paginate @menus%>
    <% else %>
    <h4>検索結果が一致しませんでした。</h4>
    <% end %>
  <% else %>
    <h4>検索結果が一致しませんでした。</h4>
  <% end %>

</div>