<div class="col-md-5 col-md-offset-3">

  <% if @restaurant_or_menu == "1"%>

    <h3>レストランの検索結果</h3>
    <%# todo: if文の簡略化,メニューと店舗登録の催促メッセージの追加 %>
    <% if @restaurants.present? %>
      <%= render 'public/restaurants/index', restaurants: @restaurants %>
      <%= paginate @restaurants %>
    <% else %>
      <h4>検索結果が一致しませんでした。</h4>
    <% end %>
  <% elsif @restaurant_or_menu == "2" %>

    <h3>メニューの検索結果</h3>
    <% if @menus.present? %>
      <%= render 'public/menus/index', menus: @menus %>
      <%= paginate @menus%>
    <% else %>
    <h4>検索結果が一致しませんでした。</h4>
    <% end %>
  <% else %>
    <h4>検索結果が一致しませんでした。</h4>
  <% end %>

</div>