/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body, #wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, nav, h2, h3, h4, p, body, li,footer {
  font-family: 'Noto Sans JP', sans-serif;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  background-color: brown;
  .logo {
    width: 180px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: image-url("logo2.png");
  }
  .navbar-search {
    padding: 15px 15px;
    margin-left: 70px;
    font-size: 21px;
  }
  .btn-search {
    background-color: white;
    margin: 0;
  }
  .header-profile {
    transform: none;
    box-shadow: none;
    margin-top: 10px;
  }
  .nav {
    padding-right: 20px;
    li {
    margin-right: 5px;
    }
    a {
      size: 16px;
      color: white;
      text-decoration: none;
      background-color: brown;
    }
    a:hover {
      background-color: darkred;
    }
  }
  .logo {
    padding: 10px 20px;
    margin: 5px 0 0 10px ;
    height: 50px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    background-color: brown;
  }
  .logo:hover {
    background-color: darkred;
  }
}
.main-visual {
  background-image: image-url("jay.jpg");
  width: 100%;
  height: 264px;
  background-size: cover;
  background-position: center;
  h2 {
    text-align: center;
    padding: .3em;
    line-height: 2.3;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

body {
  font-size: 16px;
  background-color: whitesmoke;
  .user-login {
    h4 {
      background-color: whitesmoke;
    }
  }
  .pen {
    background: linear-gradient(transparent 70%, rgb(219, 28, 28) 70%);
  }
  .about-content {
    padding-top: 5px;
    text-align: center;
    background-color: transparent;
    h2, h3 {
      color: black;
      background-color: transparent;
    }
  }
  a:hover {
    text-decoration: none;
    img.profile {
      transform: none;
      box-shadow: none;
    }
    img {
      transform: translateY(-10px);
      box-shadow: 0 0 30px rgba(0, 0, 0, .2);
      }
  }
  .review-intro {
    margin:0 0 10px 10px;
    p {
      margin: 0;
    }
  }
  .feature-image {
    width: 70%;
    height: 250px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    box-shadow: 15px 15px 0px 0 rgb(50, 52, 53);
    background-image: image-url("map.jpg");
  }
  .how-to-image {
    width: 70%;
    height: 250px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    box-shadow: 15px 15px 0px 0 rgb(50, 52, 53);
    background-image: image-url("photo.jpg");
  }
  .about-messages {
    margin-top: 10px;
    padding-top: 10px;
    font-size: 20px;
  }
  .menu-index, .restaurant-infomation {
    margin: 0 2px 10px 2px;
    padding: 10px;
    background-color: white;
  }
  .review-index {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    a.menu-name {
      font-size: 14px;
    }
  }
  .create-time {
    font-size: 11px;
  }
  .mypage-review1 {
    font-size: 12px;
    text-align: right;
  }
  .mypage-review2{
    font-size: 14px;
    text-align: right;
  }
  .menu-rank {
    background-color: white;
    margin: 0 2px 0 2px;
    padding-top: 10px;
    font-size: 18px;
    p {
      font-size: 20px;
    }
  }
  h2 {
    color: brown;
    text-align: center;
  }
  h3 {
    background-color: white;
    text-align: center;
    padding:10px;
    margin-bottom: 20px;
  }
  h4 {
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
  }
  img {
    margin-bottom: 10px;
  }
  .review-form {
    background-color: white;
    padding: 10px 30px 10px 10px;
  }
  .mypage {
    margin: 20px;
    background-color: white;
    padding-top: 10px;
    .user_introduction {
      margin: 20px;
    }
  }
  .menu-show {
    background-color: white;
    margin: 0 2px 0 2px;
    padding-top: 10px;
    font-size: 18px;
  }
  .review-show ,.bookmark-show {
    background-color: white;
    padding-top: 10px;
    margin: 0 2px 0 2px;
  }
  .review-show-id {
    background-color: white;
    padding: 10px;
  }
  .review-show-info {
    font-size: 14px;
    text-align: right;
  }
  .user-edit-form {
    background-color: white;
    .form-group {
      padding: 20px 20px 10px 20px;
    }
  }
  .restaurant-info{
    background-color: white;
    margin: 0 2px 0 2px;
    padding: 10px 0;
  }
  #map {
    height: 200px;
    width: 400px;
  }
  a.user-name, a.name-link {
    color: black;
    text-decoration: none;
  }
  a.menu-name {
    margin-left: 3px;
    font-size: 14px;
    color: black;
    text-decoration: none;
  }
  a {
    color: brown;
    text-decoration: none;
    background-color: transparent;
  }
  i {
    margin: 0 10px 0 5px;
  }
  .label{
    color: blue;
  }
  .sentiment-score.minus{
    color: blue;
  }
  .sentiment-score.plus{
    color: red;
  }
}


li {
  list-style: none;
  padding-top: 7px;
}
footer {
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: whitesmoke;
  background-color: brown;
}